.outerPostDetailContainer {
  width: 850px;

}

.postDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  /* border: 1px solid lightgray; */
}

.postDetailImage{
  width: 750px;
  height: 630px;
  padding-bottom: 2rem;
}
