.userProfileInfo {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  background-color: #f2f4f5;
  height: 380px;
  width: 320px;
  margin-top: 1.34rem;
}

.userProfileBanner {
  /* border: 1px solid red; */
  height: 95px;
  background-color: rgb(0,121,211);

}

.profileInfodDiv {
  border: 1px solid rgb(242, 234, 234);
  height: 100px;
  width: 105px;
  top: 8rem;
  margin-left: 20px;
  background-color:  #f2f4f5;
  position: absolute;
}

.profileInfodDiv > img {
  height: 99px;
  width: 105px;
}

.profileInfodDiv > span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.noPostsYetDiv {
  display: flex;
  flex-direction: row;
  width: 600px;
  align-items: start;
  justify-content: center;

  border: 1px solid rgb(206, 195, 195);
  margin-bottom: 1.5rem;
  background-color: rgb(247, 247, 252);
  border-radius: 2px;
  margin-top: 1.23rem;
}

.noPostsYetDiv > span {
  font-size: 22px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innerProfileInfoDiv {
  display: flex;
  flex-direction: column-reverse;

  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

.profileCreatePostDiv {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
  /* margin: auto; */
}


.editDeletePostButtonDiv {
  display: flex;
}

.editDeletePostButtonDiv button{
  display: flex;
  height: 20px;
  width: 80px;
  align-items: center;
  font-family: verdana, sans-serif;
  font-size: 14px;
  justify-content: center;
  color: #f2f4f5;
  border-style: none;
}


.editPostButton {
  background-color: rgb(0,121,211);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.editPostButton:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
  background-color: rgb(5, 83, 142);
  cursor: pointer;
}

.deletePostButton {
  background-color: rgb(222, 47, 47);
}

.deletePostButton:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
  background-color: rgb(156, 20, 20);
  cursor: pointer;
}
